<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.and4.travel_server.mapper.TripMapper">

	<select id="doGetTripList" resultType="com.and4.travel_server.model.Trip">
		select * from trip where on_off=1 order by reg_date DESC
	</select>
	
	<select id="doGetMyTripList" resultType="com.and4.travel_server.model.Trip">
		select * from trip where member like concat('%',#{userName},'%') order by reg_date DESC
	</select>
	
	<select id="doGetOneTrip" resultType="com.and4.travel_server.model.Trip">
		select * from trip where title = #{title}
	</select>
	
	<insert id="doInsertTrip">
		insert into trip(title, start_date, end_date, place, member, phone, on_off) values(#{title}, #{start_date}, #{end_date}, #{place}, #{member}, #{phone}, #{on_off})
	</insert>

</mapper>